$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.box {
  @include transform(rotate(30deg));
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}

%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

article[role='main'] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role='complementary'] {
  float: right;
  width: 300px / 960px * 100%;
}
